---
layout: tips
permalink: /tips/example
title: Example
description: This is an example
published-url: https://github.com/
tags: ['tip']
require: ['modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <p class="p-justify text-indent">Example text</p>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src=""/>
      </p>
{% include work-modal.html %}
{% include work-code.html %}
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
